<!DOCTYPE html>
{% comment %} <body>
<section> {% endcomment %}
    <div class="iframebox">
        <iframe src="https://lookerstudio.google.com/embed/reporting/594b6bd2-c108-4f16-bf02-ac68b57fdf39/page/p_i0fwehby4c"
                frameborder="0" 
                border="no"
                scrolling="no"
                marginheight="0"
                style="overflow:hidden; overflow-y:hidden; width:100%;"
                allowfullscreen>
        </iframe>
    </div>
{% comment %} </section>
</body> {% endcomment %}