body,
div,
span,
header,
section,
footer,
nav,
img,
form,
figcaption,
figure,
i,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
  margin: 0;
}

ol,
header ul,
div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a:link {
  color: black;
  text-decoration: none;
}
body a:visited {
  color: black;
  text-decoration: none;
}

body header a:hover {
  color: #c79288;
  text-decoration: none;
  transition: 0.2s linear;
}

* {
  font-family: "Montserrat", "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.active{
  background-color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
}

.deactive{
  
  background-color: transparent;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
}
nav,
.icons {
  padding: 20px;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

body{
  background-color: tomato;
}

section{
  width: 80vw;
  padding: 10vw;
  padding-top: 50vh;
}